In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#importing file
df = pd.read_csv("C:\\Users\\Downloads\\train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
#check missing values
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [24]:
#missing value computation
df['Embarked'].fillna(0, inplace = True)
df['Title'] = df['Name'].str.split(", ", expand=True)[1].str.split(".", expand=True)[0]
df.Title.value_counts()
df.Embarked = df.Embarked.map({'S':1, 'C':2, 'Q':3})
df.Sex = df.Sex.map({'male': 1, 'female':2})

In [25]:
#feature engg
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df['IsAlone'] = 1 #initialize to yes/1 is alone
df['IsAlone'].loc[df['FamilySize'] > 1] = 0 # now update to no/0 if family size is greater than 1
df["Age"] = df.groupby("Title")["Age"].transform(lambda x: x.fillna(x.median()))

In [26]:
#mapping cat_variable
df.Title = df.Title.map({'Mr' :1,'Miss':2, 'Mrs':3,'Master':4,'Col':5, 'Rev':6, 'Dr':7, 'Don':8,'Ms':9, 'Mlle':10 ,'Major':11, 'the Countess':12, 'Jonkheer':13,'Mme':14,'Sir':15,'Capt':16, 'Lady':17})

In [27]:
#remove unwanted columns
df = df.drop(['Name', 'Ticket', 'Cabin'],axis =1)

In [28]:
df.Embarked = df.Embarked.ffill()

In [29]:
#target variable
Y = df['Survived']
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [30]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
0,1,0,3,1,22.0,1,0,7.2500,1.0,1,2,0
1,2,1,1,2,38.0,1,0,71.2833,2.0,3,2,0
2,3,1,3,2,26.0,0,0,7.9250,1.0,2,1,1
3,4,1,1,2,35.0,1,0,53.1000,1.0,3,2,0
4,5,0,3,1,35.0,0,0,8.0500,1.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,27.0,0,0,13.0000,1.0,6,1,1
887,888,1,1,2,19.0,0,0,30.0000,1.0,2,1,1
888,889,0,3,2,21.0,1,2,23.4500,1.0,2,4,0
889,890,1,1,1,26.0,0,0,30.0000,2.0,1,1,1
890,891,0,3,1,32.0,0,0,7.7500,3.0,1,1,1

In [42]:
#import test file
#and perform same eda
test = pd.read_csv("D:\\test.csv")
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [43]:
test['Title'] = test['Name'].str.split(", ", expand=True)[1].str.split(".", expand=True)[0]

In [48]:
test.Title= test.Title.fillna(2)

In [47]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
Title            1
FamilySize       0
IsAlone          0
dtype: int64

In [46]:
test.Sex = test.Sex.map({'male': 1, 'female':2})
test['FamilySize'] = test['SibSp'] + df['Parch'] + 1
test['IsAlone'] = 1 #initialize to yes/1 is alone
test['IsAlone'].loc[test['FamilySize'] > 1] = 0 # now update to no/0 if family size is greater than 1
test.Title = test.Title.map({'Mr' :1,'Miss':2, 'Mrs':3,'Master':4,'Col':5, 'Rev':6, 'Dr':7, 'Don':8,'Ms':9, 'Mlle':10 ,'Major':11, 'the Countess':12, 'Jonkheer':13,'Mme':14,'Sir':15,'Capt':16, 'Lady':17})

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [49]:
test["Age"] = test.groupby("Title")["Age"].transform(lambda x: x.fillna(x.mean()))

In [50]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              1
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
Title            0
FamilySize       0
IsAlone          0
dtype: int64

In [52]:
test.Age = test.Age.fillna(18)

In [54]:
test = test.drop(['Cabin','Ticket','Name'],axis =1)

In [55]:
test.Embarked = test.Embarked.map({'S':1, 'C':2, 'Q':3})

In [84]:
test.columns

Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Title', 'FamilySize', 'IsAlone'],
      dtype='object')

In [61]:
test.Fare = test.Fare.fillna(7.00)

In [85]:
X = df.drop(['Survived','PassengerId'], axis =1)
test_ = test.drop(['PassengerId'],axis = 1)

In [86]:
#now split data into testing and training
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

check results with each classification algorithm and use the one with highest accuracy(try Algo tuning)

In [87]:
from xgboost import XGBRFClassifier
xg = XGBRFClassifier(learning_rate=1, subsample=1,colsample_bynode=0.8,reg_lambda=1e-10)
xg.fit(X_train,y_train)
xg_y_pred= xg.predict(X_test)
((xg_y_pred == y_test).sum())/len(y_test)

0.8022388059701493

In [122]:
from sklearn.neighbors import KNeighborsClassifier  
kmodel = KNeighborsClassifier(n_neighbors = 99 )        
kmodel.fit(X_train,y_train)
ypred_train = kmodel.predict(X_train)


#How it is performing on unknown data
ypred_test = kmodel.predict(X_test)
print(((ypred_test == y_test).sum()/len(X_test))*100)

66.7910447761194

In [89]:
#now check with logistic regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(class_weight=None)
logreg.fit(X_train,y_train)
logreg_y_pred = logreg.predict(X_test)

print((((logreg_y_pred == y_test).sum())/ len(y_test))*100)

80.22388059701493

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [102]:
left_column =test['PassengerId']

In [103]:
left_column

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [90]:
#now use naive bayes
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train,y_train)
nb_y_pred = nb.predict(X_test)
(((nb_y_pred == y_test).sum())/len(y_test))* 100

79.8507462686567

In [91]:
#now use support vector machine
from sklearn.svm import SVC
svm = SVC(degree= 9,gamma='auto')
svm.fit(X_train,y_train)
svm_y_pred = svm.predict(X_test)
(((svm_y_pred == y_test).sum())/len(y_test))*100

70.52238805970148

In [92]:
#random forest
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier( n_estimators='warn', criterion='gini',max_depth=5,min_samples_split=5, min_samples_leaf=5, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0,min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None,verbose=0,warm_start=False,class_weight=None,)
rfc.fit(X_train,y_train)
rfc_y_pred= rfc.predict(X_test)
(((rfc_y_pred == y_test).sum())/len(y_test))*100

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

82.08955223880598

In [145]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(max_depth=3)
dtc.fit(X_train,y_train)
dtc_pred=dtc.predict(X_test)
(((dtc_pred ==y_test).sum())/len(y_test))*100

82.83582089552239

In [138]:
from sklearn.linear_model import SGDClassifier
sdg =SGDClassifier(loss="hinge", penalty="l2", max_iter=6)
sdg.fit(X_train,y_train)
sdg_pred=sdg.predict(X_test)
(((sdg_pred ==y_test).sum())/len(y_test))*100

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:561: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

78.35820895522389

In [132]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(X_train,y_train)
clf_pred=clf.predict(X_test)
(((clf_pred ==y_test).sum())/len(y_test))*100

69.77611940298507

In [124]:
y_pred= xg.predict(test_)

In [125]:
t =y_pred.reshape(-1,1)

In [126]:
rcol = pd.DataFrame(data= t, columns= ['Survived'])

In [127]:
lcol = pd.DataFrame(data = left_column, columns = ['PassengerId'])

In [128]:
submit = pd.concat([lcol,rcol],
    axis=1,
    join='inner',
    join_axes=None,
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    sort=None,
    copy=True,
)

In [130]:
#save the file
submit.to_csv('Desktop/xg.csv')